<div class="login-container">
  <form class="login-form">
    </form> 
<div class="row g-3">
  <div class="col">
<div class="row">
  <div class="row justify-content-end mb-4">
    </div>
  <div class="row">
    <div class="col">
      <h1 class="first-header">Places</h1>
      </div>
  </div>
</div>
</div>

<ul class="list-group-flush">
  <% for place in @places %>
    <li class="list-group-item">
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/places/new" class="btn btn-dark newplace-button">New place</a>
</p>