<div class="row">
  <div class="row justify-content-end mb-4">
    </div>
  <div class="row">
    <div class="col">
      <h1 class="first-header">Places</h1>
      </div>
  </div>
</div>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>



<p>
  <a href="/places/new">New place</a>
</p>